*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
    border: 1px solid black;
    padding: 20px;
}

@media(max-width:1199px) and (min-width:992px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(min-width:1200px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(max-width:991px) and (min-width:767px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

.mesero{
      text-decoration: none;
      padding: 15px;
      font-weight: 500;
      font-size: 28px;
      color: #e6dde0;
      background-color: #f06292;
      border-radius: 6px;
      border: 2px solid #f06292;
      margin: 50px;
      text-align: center;
    }
    
.mesero:hover{
      color: #dfd7dc;
      background-color: #b09fb8;
    }

.burger{
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: 950;
    text-align: center;
    font-size: 50px;
}

.imgburger{
    width: 400px;
    display: block;
    margin: auto;
}

.divmesero{
    display: flex;
    justify-content: center;
}

.burgerTitulo{
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: 950;
    text-align: left;
    font-size: 50px;
}

h4{
    align-content: center;
    justify-content: center;
    align-items: left;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}

.mesa{
    border-radius: 5px;   
}

input{
    border-radius: 5px;
    
}