*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-family: sans-serif;
   /* box-sizing: border-box; */
}

[class*="col-"]{
    float: left;
    /*border: 1px solid black; */
    padding: 20px;
}

@media(max-width:1199px) and (min-width:992px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(min-width:1200px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(max-width:991px) and (min-width:767px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

header{
    /*box-sizing: border-box;
    border: 1px solid black; */
    border-bottom: 5px solid #173083;
   /*background-color: #0059ff;*/
}

.mesero{
      text-decoration: none;
      padding: 15px;
      font-weight: 500;
      font-size: 28px;
      color: #e6dde0;
      background-color:#173083;
      border-radius: 6px;
      margin: 50px;
      text-align: center;
    }
    
.mesero:hover{
      color: #ffffff;
      background-color: #173083;
    }

.burger{
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: 950;
    text-align: center;
    font-size: 50px;
    color: #173083;;
}

.imgburger{
    width: 350px;
    display: block;
    margin: auto;
}

.divmesero{
    display: flex;
    justify-content: center;
}

.burgerTitulo{
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: 950;
    text-align: left;
    font-size: 50px;
    /*background-color: #0059ff;*/
    color: #173083;
}

h4{
    align-content: center;
    justify-content: center;
    align-items: left;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}

.nombre{
    margin: 5px;  
    padding-left: 31px;

}
.mesa{
    padding-left: 5px;
    border-radius: 5px;   
}

.image{
    padding-left: 18px;
    width: 220px;
    height: 160px;
    display: block;
}

.cont-btn-menu{
    display: flex;
}

.desayuno{
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: 640;
    background-color: #ffb500;
    padding-left: 40px;
    margin: 15px;
    color: #173083;
}

.desayuno:hover{
    background-color: #173083;
    color: white;
}


.createButton{
    text-decoration: none;
    width: 100%;
    height: 12vh;
   /* padding: 10px 10px 10px 10px; */
    display: block;
    border-radius: 7px;
    text-align: center;
    font-size: 2.8vh;
    background-color: white;
    padding: 10px;
    margin: 15px;
    border: 1.5px solid #173083;
   /* border: 1.5px solid #173083*/
}

.createButton:hover{
    border: 1.5px solid #173083;
    background-color: #173083;
    color: white;
}

.aspa{
    border-radius: 10px;
    /*text-align: center;*/
    font-weight: 1000;
    border: 1px solid #e40606;
    background-color: #ff0606;
    color: #e5e6dd;
    width: 30px;
    height: 30px;
    margin: 5px;
    position: absolute;
    right: 0;
}

.list-product{
    width: 100%;
    height: 60px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 640;
    background-color: #ffb500;
    color: #173083;
    display: block;
    font-size: 3.7vh;
    padding: 10px;
}

.list{
    margin: 10px;
    font-size: 20px;
}

.btn-enviar{
    background-color: #173083;;
    color: white;
    width: 100%;
    height: 45px;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    float: left;
    font-weight: 550;
}

.enviar {
    float: right;
}

.elementos{
    display: flex;
}

.btn-elementos{
    float: left;
    border-radius: 5px;
    border: 1.5px solid #173083;
    background-color: #ffffff;
    color: #173083;
    margin: 7px;
    padding: 5px;
}

.btn-elementos:hover{
   background-color: #173083;
   color: white;
}

.section-lista{
    border-left: 5px solid #173083;
}